Java.gitignore
SplashScreen_animada/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
SplashScreen_animada/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
